.popup-overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 0;
}

.popup-verticalize {
  -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.popup-not-overlay {
	position: fixed;
	z-index: 9999;
	opacity: 0;
}

.popup-top-right {
	right: 0;
	top: 0;
}

.popup-top-left {
	left: 0;
	top: 0;
}

.popup-bottom-right {
	right: 0;
	bottom: 0;
}

.popup-bottom-left {
	left: 0;
	bottom: 0;
}

.popup-wrapper {
	position:relative;
  width: 90%;
	margin: 30px auto 0 auto !important;
}

.popup-non-wrapper {
	position:relative;
}

.popup-shape {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.popup-shape-image, .popup-shape-texts {
	position: relative;
}

.popup-padder {
	padding: 25px;
}

.popup-close-icon {
	position: absolute;
	z-index: 4;
	width: 30px;
	height: 30px;
	cursor: pointer;
  opacity: 1;
  &:hover {
    opacity: 0.95;
  }
  img {
    width: 30px;
    height: 30px;
  }
}

.popup-close-text {
	position: absolute;
	z-index: 4;
	//width: 30px;
	height: 30px;
	cursor: pointer;
  opacity: 1;
	font-weight: bold;
  &:hover {
    opacity: 0.95;
  }
}

.popup-close-top-right-text {
	right: 0;
	top: -30px;
}

.popup-close-top-right {
	right: -15px;
	top: -15px;
}

.popup-close-top-left {
	left: -15px;
	top: -15px;
}

.popup-close-bottom-right {
	right: -15px;
	bottom: -15px;
}

.popup-close-bottom-left {
	left: -15px;
	bottom: -15px;
}

.popup-close-top-center {
	left: 50%;
	margin-left: -15px;
	top: -15px;
}

.popup-close-bottom-center {
	left: 50%;
	margin-left: -15px;
	bottom: -15px;
}

.popup-close-left-center {
	left: -15px;
	margin-top: -15px;
	top: 50%;
}

.popup-close-right-center {
	right: -15px;
	margin-top: -15px;
	top: 50%;
}

.popup-styler {
	iframe {
		width: 100% !important;
	}
}

.popup-no-the-100 {
	position: relative;
	img {
		width: 100% !important;
		height: auto;
	}
}

.popup-bg-handler {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.popup-cta-btn {
	display: inline-block;
	padding: 15px;
	font-size: 20px;
	opacity: 1;
	-webkit-transition: all, 0.5s ease;
	-moz-transition: all, 0.5s ease;
	-o-transition: all, 0.5s ease;
	-ms-transition: all, 0.5s ease;
	transition: all, 0.5s ease;
	&:hover {
		opacity: 0.8;
	}
}

@media screen and (min-width: 1px) and  (max-width: 1023px) {
	.hide-mobile-image {
		display: none;
	}
	.popup-desktop-image {
		display: none;
	}
	.popup-shape {
		min-height: 0 !important;
	}
	.half-text {
		max-height: 250px;
		overflow-x: scroll;
	}
	.full-text {
	}
	.popup-shape-image-text-horizontal, .popup-shape-image-text-vertical {
		.popup-shape-image {
			order: 1;
			width: 100%;
		}
		.popup-shape-texts {
			order: 2;
			width: 100%;
		}
	}

	.popup-shape-text-image-horizontal, .popup-shape-text-image-vertical {
		.popup-shape-image {
			order: 2;
			width: 100%;
		}
		.popup-shape-texts {
			order: 1;
			width: 100%;
		}
	}
}

@media screen and (min-width: 1024px) {
	.hide-desktop-image {
		display: none;
	}
	.popup-mobile-image {
		display: none;
	}
	.verticalizer {
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.popup-shape-image-text-horizontal {
		.popup-shape-image {
			order: 1;
			width: 100%;
		}
		.popup-shape-texts {
			order: 2;
			width: 100%;
		}
	}

	.popup-shape-text-image-horizontal {
		.popup-shape-image {
			order: 2;
			width: 100%;
		}
		.popup-shape-texts {
			order: 1;
			width: 100%;
		}
	}

	.popup-shape-image-text-vertical {
		.popup-shape-image {
			order: 1;
			width: 50%;
		}
		.popup-shape-texts {
			order: 2;
			width: 50%;
		}
	}

	.popup-shape-text-image-vertical {
		.popup-shape-image {
			order: 2;
			width: 50%;
		}
		.popup-shape-texts {
			order: 1;
			width: 50%;
		}
	}
}
